::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar{width:0;background-color:transparent}
::-webkit-scrollbar-thumb{background-color:transparent;border:0 solid transparent}
*{margin:0;padding:0;font-family:'Open Sans',sans-serif}
body{background:#e2eaee;margin:0;padding:0; font-size: 12px; scroll-y: hidden;}
.mask{background-color:#FFF;width:100%;height:100%;position:fixed;z-index:999999999999}
#loader{background:url(images/loader.gif) center center no-repeat;height:32px;width:32px;left:50%;top:50%;position:absolute;margin:-16px 0 0 -16px}
.nombrepersona{text-align:right !important;width:54%;position:absolute;top:82%;left:-22%;z-index:999}
#mx{opacity:1;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#mx:hover{opacity:.5}
@-webkit-keyframes more {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes more {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes more {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes more {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
#more{
	position:absolute;
	z-index:99;
	top:40%;
	-webkit-animation: more 0.5s ease-in alternate infinite; 
	-moz-animation:    more 0.5s ease-in alternate infinite; 
	-o-animation:      more 0.51s ease-in alternate infinite;
	animation:         more 0.5s ease-in alternate infinite; 
	
}
#more:hover{opacity:.5}
.header{position:fixed;width:100%;background:#fff;z-index:999999;-webkit-box-shadow:0 4px 10px -2px rgba(0,0,0,0.75);-moz-box-shadow:0 4px 10px -2px rgba(0,0,0,0.75);box-shadow:0 4px 10px -2px rgba(0,0,0,0.75)}
.header .navbar-brand{font-weight:900}
.header .navbar{margin:0;border:0}
.page-section{width:100%;padding:0;margin:0;overflow-x: hidden;}
.page-section h1{font-size:4em;margin:50px 0}
.page-section h1 span{font-weight:200}
.page-section h2{font-size:3em;font-weight:900;color:#fff;margin:0 0 30px}
.page-section p{font-size:1.2em;font-weight:200;line-height: 200%;}
.page-section p.lead{font-size:1.8em}
.page-section p.caption{color:#fff;padding:20px}
.page-section.intro{min-height:600px}
.page-section#home{background:url(images/colchonHome2.jpg) top top no-repeat}
.page-section#atmo{background:url(images/africa.jpg) top center no-repeat}
.page-section#inbalance{background:url(images/fdcolchones3.jpg) top center no-repeat}
.page-section#spinup{background:url(images/spinupgr.jpg) top center no-repeat}
.page-section#latexzone{background:url(images/latexzonegr.jpg) top center no-repeat}
.page-section#smarthealth{background:url(images/smarthealth.jpg) top center no-repeat}
.page-section#contacto{background:url(images/contactoss.png) top center no-repeat}
.page-section#atmo2,.page-section#inbalance2,.page-section#spinup2,.page-section#latexzone2,.page-section#smarthealth2{background:#fff}
.page-section#contacto{min-height:770px;}
.btn{font-weight:200}
.btn-dark{background:#444;color:#fff}
.btn-dark:hover{background:#000;color:#fff}
.back-to-top{display:inline-block;clear:both;background:#fff;color:#333;padding:0 10px 5px;margin:20px 0 0;text-shadow:none}
.back-to-top:hover{background:#333;color:#fff;text-decoration:none}
hr{border-color:#ddd}
.altnube{min-height:110px}
ul.nav{width:76%;margin:0 auto !important}
@media(max-width:768px){ul.nav{width:100%;margin:0 auto !important}
#map_canvas {width:100%; margin-top:15x;}
.col-xs-4{width:100%;}
}
@media(min-width:768px){.header .navbar-brand{padding-left:0}
.navbar-nav{float:right}
}
@media(max-width:480px){.page-section h1{font-size:3em}
.page-section h2{font-size:2em}
.page-section p{font-size:1em;margin:0 0 20px}
.col-xs-6{width:100%;margin:0 auto}
.col-xs-2{width:100%;text-align:center;margin:0 auto;margin-bottom:10px}
.altnube{min-height:0}
#more{top:8%;left:39%}
.persona{margin-left:120px;}
.nombrepersona{width:50%;left:-2%}
#mx{margin-bottom:20px;}
}
*:focus{outline:0}
h3.newh3{margin-bottom:15px;font-size:36px; line-height:40px;}
h3{line-height:30px; margin-bottom:25px; font-size:26px;}
p{
	font-size:16px;
	line-height:20px;
	text-align:justify;
	margin:0;
	padding:0;
	width:100%;
}
a{ color:#898A8C; }
.activar{color: #111;}





	
	#contact-formular {
		text-align:center !important;
		margin:0;
		padding:0;
	}
	
	
	
	
	#contact-formular input[type="text"],
	#contact-formular input[type="date"],
	#contact-formular input[type="time"],
	#contact-formular input[type="email"],
	#contact-formular input[type="tel"],
	#contact-formular input[type="url"], 
	textarea, #contact-formular select,
	#contact-formular option {
		color: #999999;
		font-size: 14px;
		text-transform:uppercase;
		height: 20px;
		padding:20px;
		width: 100%;
		background:#fff;
		margin-bottom:10px;
		border:0;
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	
	#contact-formular input[type=text]:focus, 
	#contact-formular input[type=date]:focus, 
	#contact-formular input[type=time]:focus, 
	#contact-formular input[type="tel"]:focus,
	#contact-formular textarea:focus, 
	#contact-formular input[type=email]:focus,
	#contact-formular select:focus {
		background-color: #f3f3f3;
	}
	
	
	.error_message {		
		text-align:center;		
		margin-bottom:30px;
		font-size:13px;		
		color:#e93735;		
		font-weight:bold;		
	}
	
	#success_page {		
		text-align:center;		
	}	
	
	#success_page p {		
		color:#999999;		
		margin-top:20px;		
	}
	
	#message fieldset {		
		border:none;		
	}

	#map_canvas {
		width:98%;
		height:400px;
		z-index:0;
		margin-left:2%;
		position:relative;	
	}
	
	
	
	
	
	
	
	

.selectDiv {

	width: 100%;
	height: 38px;
	line-height:38px;
	overflow: hidden;
	background: url('images/dropdown.png') no-repeat right #fff;
	border: #fff 1px solid;
	margin:0px;
	padding:0px;
	position: relative;
	z-index:100;
	
	color: #999999;
	text-transform:uppercase;
	
	text-align:left;
	padding-left:17px;
	
	
}
.selectDefault {
	color: #999999;
	text-transform:uppercase;
	font-size: 18px;
}

.selectDiv select {

	margin:0px;
	padding:0px;
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
	z-index:101;
	
}
.selectDiv select:focus {
    outline: none;
}

.selectDefault, .selectDiv option {
    font-size:14px;
}







.parallax {
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
}

.parallax-overlay {

	background-color:rgba(255,255,255,0);
}





	.contact-details {
		text-align: left;
		width:100%;
	}	
	
	.phone-icon {
		width:60px;
		height:60px;
		
		margin-bottom:40px;
	}
	
	.company-phone a {
		color:#4D5052;
		background-color:rgba(255,255,255,0.55);
    	text-align: left;
		font-size:72px;
		line-height:72px;
		font-family: 'Montserrat', sans-serif;
		padding:12px 20px;
		margin-bottom:30px;
		display:inline-block;
	}
	
	.company-phone a img{
		margin-top:-10px;	
	}
	
	.company-phone a:hover {
		color:#4D5052;
	}
	
	h5.company-email {
		margin-bottom:15px;
		color:#4D5052;
		text-transform:none;
	}
	
	h5.company-address {
		margin-bottom:15px;
		color:#4D5052;
		text-transform:none;
		line-height:22px;
	}







	
	footer {
		z-index:100;
		position:relative;
		padding:20px 0;
		text-align:center;
	}
	
	footer ul.socials-icons {
		margin:10px 0 20px 0;
	}
	
	footer ul.socials-icons li {
		margin:0 10px;
	}
	
	ul.socials-icons {
		text-align:center;
		
	}
	
	ul.socials-icons li {
		width:35px;
		height:35px;
		margin:5px;
		display:inline-block
	}
	
	ul.socials-icons li a {
		opacity:1;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
	}
	
	ul.socials-icons li a:hover {
		opacity:0.5;
	}
	
	.copyright{
		font-size:10px;
		font-weight:600;
		line-height:14px;	
	}

	@-webkit-keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }
	@-moz-keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }
	@keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }
	
	
	
	div.error{
		color:#FFF;
		background:#E31B21;
		padding:4px;
		text-transform:uppercase;
		position:absolute;
		bottom:-25px;
		left:0;
		z-index:999999999;
		width:100%;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


.alert{
	display: none;
	padding: 20px;
	margin: 10px 0px 0px 0px ;
	text-align:center;
	color: #111;
	background-color: #fff;
}


button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#666;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
}
button[type="submit"]:hover {
	background:#333;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:focus,
textarea:focus {
	outline:0;
	border:1px solid #999;
}
label{
	display: block;
	margin: 5px 0;
	font-weight: 900;
	cursor: pointer;
}

ul#tabs {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: left; 
}
ul#tabs li {
	display: inline-block;
	border-bottom: solid 2px #999;
	padding: 0px;
	margin:0px;
	cursor: pointer; 
	padding-left:10px;
	padding-right:10px;
	
	font-size:16px; 
	line-height:18px;
	
	color:#999;
}
ul#tabs li:hover {
	color: #111; 
	border-bottom: solid 2px #111;
}
ul#tabs li.active {
	color: #111; 
	border-bottom: solid 2px #111;
}


ul#tab {
	list-style-type: none;
	margin: 0px;
	padding: 0px; 
}
ul#tab li {
	display: none;
	padding: 0px;
	margin:0px;
}
ul#tab li.active {
	display: block; 
	margin: 0px;
	padding: 0px; 
}

.something-semantic {
   display: table;
   width: 100%;
   margin-top:15%;
   margin-bottom:15%;
}
.something-else-semantic {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}






/* CSS NUEVO */
.img-responsive {
	width: 100%;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #080808;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
	margin-top: 4px;
}
.nav>li>a {
	display: block;
	padding: 5px 10px;
	position: relative;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a.activar  {
	color: #000;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #FFF;
}
#logotech{
	position: fixed;
	top: 12px;
	left: 10px;
	z-index: 999999
}
.logoDivino {
	position: fixed;
	right: 65px;
	top: 11px;
	z-index: 999999;
}
.tipoColchonA {
	background-size: 100% auto !important;
}
.tipoColchonB {

}
.container {
	padding-top: 50px;
}
#intro {
	padding: 100px 0 123px;
}
.page-section {

}
.persona {
	margin-left: 60%;
	position: relative;
	z-index: 200;
}
.nombrepersona {
	font-size: 13px !important;
	left: -42%;
	line-height: 20px !important;
	position: absolute;
	text-align: right !important;
	top: 68%;
	width: 100%;
	z-index: 999;
}
.nextBtn {
	padding: 50px;
	text-align: center;
}
.nextBtn.nextA {
	background: #FFF;
	position: relative;
	z-index: 100;
	margin-top: -123px;
}
.nextBtn.nextB {
	background: #E2EAEE;
}
.logoSleepTech {
	margin-bottom: 50px;
}
.logosSleepTech {
	margin-bottom: 50px;
}
.logosSleepTech img {
	width: auto;
	margin: 0 0 15px;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.logoDivino {
		right: 10px;
		top: 14px;
	}
	.logosSleepTech {
		margin-bottom: 50px;
	}
	.logosSleepTech img {
		width: 100%;
		margin: 0;
	}
	.persona {
		margin-left: 170px;
	}

}
